@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Public Sans', sans-serif;
  }
}

@layer utilities {
  /* Custom green color palette */
  .text-green-50 { color: #EFFDF5; }
  .text-green-100 { color: #D9FBE8; }
  .text-green-200 { color: #B3F5D1; }
  .text-green-300 { color: #75EDAE; }
  .text-green-400 { color: #00DC82; }
  .text-green-500 { color: #00C16A; }
  .text-green-600 { color: #00A155; }
  .text-green-700 { color: #007F45; }
  .text-green-800 { color: #016538; }
  .text-green-900 { color: #0A5331; }
  .text-green-950 { color: #052E16; }

  .bg-green-50 { background-color: #EFFDF5; }
  .bg-green-100 { background-color: #D9FBE8; }
  .bg-green-200 { background-color: #B3F5D1; }
  .bg-green-300 { background-color: #75EDAE; }
  .bg-green-400 { background-color: #00DC82; }
  .bg-green-500 { background-color: #00C16A; }
  .bg-green-600 { background-color: #00A155; }
  .bg-green-700 { background-color: #007F45; }
  .bg-green-800 { background-color: #016538; }
  .bg-green-900 { background-color: #0A5331; }
  .bg-green-950 { background-color: #052E16; }
}
